
@font-face {
    font-family: 'gothic';
    src: url('/fonts/routed-gothic-narrow.ttf');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: none; /* for iOS Safari */
    text-size-adjust: none; /* for other mobile browsers */
    scroll-behavior: smooth;
}

:focus:not(:focus-visible) {
    outline: none;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

menu,
ol,
ul {
    padding-left: 0;
}

ol,
ul {
    list-style-position: inside;
}

img {
    display: block;
    max-width: 100%;
}

a {
    /* Places underlines below the descenders */
    text-underline-position: under;


    /* Sets the thickness as a percentage of the font size */
    text-decoration-thickness: 8;
}





body {
    padding: 0;
    margin: 0;
    font-family: 'gothic' !important;
    }

html, body, #map {
    height: 100%;
    width: 100vw;
}

/* CATEGORIE */

#categories{
    position: absolute;
    transform:scale(1.2);
    bottom: 2rem;
    left: 2rem;
z-index: 2;}

/* MAP */


#map{
    z-index: 1;
    background-color: white !important;
    top: 0;
    position: absolute;
    /* background: url('/assets/sfondo.png');
    filter: blur(4px); */
}


#scaleKm{
    position: fixed;
    z-index: 2;
    bottom: 20px;
    left: 10px;
}

#km{
    color: white;
    display: flex;
    align-items: center;
}

#changeMap{
    position: fixed;
    top: 80px;
    left: 12px;
    z-index: 2;
}


.nameMarker{
    width: max-content;
    display: inherit;
    text-align: center;
}
.namePaese{
    width: max-content;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sidebar{
    flex-direction: column;
    justify-content: space-between;
    margin: 1% 0;
    height: 98%;
    position: fixed;
    right: 10px;
    top: 0;
    z-index: 10;
    width: 30%;
    line-height:1.2;
    overflow-y: scroll;
}

.bottom span{
    line-height: .8rem;
    padding: 20px 0;
}

#title{
    width: 100%;
    padding-top: 1rem;
}


#loghi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

 #loghi img{
    width: 15%;
}

#ministero{
    scale: 2;
}

#loghi:nth-child(3){
    width: 30%;
}

#ministero img{
    width: 15%;
}


.bottom, .top{
    flex-direction: column;
}

.bottom{
    margin-bottom: 10%;
}
.text h2{
    text-align: center;
    margin-bottom: 5rem;
}

.leaflet-div-icon{
    border: none !important;
}
.leaflet-marker-icon.leaflet-interactive{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaflet-control-attribution.leaflet-control{
    position: fixed;
}

.closeSidebar{
    display: none;
}

.showSidebar{
    display: none;
}

.leaflet-control-scale-line:nth-child(1){opacity: 0;}
.leaflet-control-scale-line:nth-child(2){display: none;}

#upper,#downer{
    display: flex;
    align-items: center;
    gap: 0;
    width: max-content;
}
#upper div,#downer div{
    height: 15px;
    width: 50px;
}

#upper div:nth-child(even){
    background-color: black;
}
#upper div:nth-child(odd){
    background-color: transparent;
}

#downer div:nth-child(odd){
    background-color: black;
}
#downer div:nth-child(even){
    background-color: transparent;
}

.titlePost{
    width: max-content;
}

.links{
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
}
.text{
    font-size: 1.7rem;
    }

    .text * {
        -webkit-text-stroke-color: rgb(119, 103, 103);
        -webkit-text-stroke-width: .7px;
    }

@media (max-width: 450px) {

    .showSidebar{
        position: fixed;
        z-index: 5;
        display: block;
        left: 12px;
        top: 110px;  
          width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .closeSidebar{
        display: block;
    }
    .sidebar{
        width: 80%;
        margin-left: 10%;
        left: 0;
        height: 95%;
        margin-top: 4%;

        overflow-y: scroll;
        width: 100%;
        margin: 0;
        padding: 2rem;
        background: white;
        height: 100%;
    }

    .closeSidebar{
        position: fixed;
        bottom: 2%;
        width: 100%;
        text-align: center;
    }

    .closeSidebar button{
        width: 100px;
        font-size: 1.1rem;
    }

    .flex {
        display: flex ;
        justify-content: space-between;
        align-items: center;
        bottom: 0;
        }

    
    .text{
    font-size: 1.2rem;
    }

    .bottom span{
        font-size: .6rem;
        line-height: .5rem;
    }
    
  }

