
@font-face {
    font-family: 'gothic';
    src: url('/fonts/routed-gothic-narrow.ttf');
}


@font-face {
    font-family: 'gothicItalic';
    src: url('/fonts/routed-gothic-italic.ttf');
}

@font-face {
    font-family: 'internazionale';
    src: url('/fonts/LInternationale.ttf');
}

:root{
    --blue: rgb(41,172,228);
    --green:rgb(36,192,68);
    --orange: rgb(236,108,0);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: none; /* for iOS Safari */
    text-size-adjust: none; /* for other mobile browsers */
    scroll-behavior: smooth;
}

:focus:not(:focus-visible) {
    outline: none;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
    /* padding: 3px; */
    margin: 2px 0;
}

button{
    font-size: 12px;
}

menu,
ol,
ul {
    padding-left: 0;
    margin-top: 1px;
}

ol,
ul {
    list-style-position: inside;
}

img {
    display: block;
    max-width: 100%;
}

a {
    /* Places underlines below the descenders */
    text-underline-position: under;

    /* Sets the thickness as a percentage of the font size */
    text-decoration-thickness: 8;


}

.top div a {
    color: black !important;
}





body {
    padding: 0;
    margin: 0;
    font-family: 'gothic' !important;
    }



textarea, input{
    font-family: 'gothic' !important;
    padding: 1px;
}



button{
    font-family: 'gothic' !important;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}

b, .exp{
    font-style: normal !important;
    font-family: 'internazionale';
}

i{
    font-style: normal !important;
    font-family: 'gothicItalic';
}
/* CATEGORIE */

#calendario{
    position: absolute;
    transform:scale(1.2);
    bottom: 2rem;
    left: 2rem;
z-index: 2;}

#categories{
    position: absolute;
    transform:scale(1.2);
    top: 7rem;
    left: 2rem;
z-index: 2;}

#calendario, #categories{
    font-size: 15px;
    line-height: 20px;
}
/* MAP */


#map{
    z-index: 1;
    background-color: white !important;
    top: 0;
    position: absolute;
    /* background: url('/assets/sfondo.png');
    filter: blur(4px); */
}

.leaflet-marker-icon.leaflet-interactive{
    justify-content: center !important;
    align-items: center !important;
    height: auto !important;
    background: transparent  !important;
}

#changeMap{
    position: fixed;
    top: 8px;
    right: 65%;
    z-index: 2;

}

#changeMap a{
    color: black !important;
    text-decoration: none;
    font-size: 12px;
}


.nameMarker{
    width: max-content;
    display: inherit;
    text-align: center;
}
.namePaese{
    width: max-content;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sidebar{
    flex-direction: column;
    justify-content: space-between;
    margin: 1% 0;
    height: 98%;
    position: fixed;
    right: 10px;
    top: 0;
    z-index: 10;
    width: 30%;
    line-height:1.2;
    overflow-y: scroll;
}

.bottom span{
    line-height: .8rem;
    padding: 20px 0;
}

#title{
    width: 100%;
    padding-top: 1rem;
}


#loghi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

 #loghi img{
    width: 15%;
}

#ministero{
    scale: 2;
}

#loghi:nth-child(3){
    width: 30%;
}

#ministero img{
    width: 15%;
}


.bottom, .top{
    flex-direction: column;
}

.top{
    top: 1rem;
    position: relative;
    width: -webkit-fill-available;
}

.top .flex:nth-child(1){
    position: sticky;
    top: 1rem;
}

.bottom{
    margin-bottom: 10%;
}
.text h2{
    text-align: center;
    margin-bottom: 3rem;
}

.leaflet-div-icon{
    border: none !important;
}
.leaflet-marker-icon.leaflet-interactive{
    display: flex;
    flex-direction: column;
    align-items: center;
}

   .leaflet-control-attribution.leaflet-control{
    top: 0;
    position: fixed;
    right: 5px;

}

.leaflet-control-attribution.leaflet-control {
    font-size: .3rem;
}

.closeSidebar{
    display: none;
}

.showSidebar{
    display: none;
}

.leaflet-control-scale-line:nth-child(1){opacity: 0;}
.leaflet-control-scale-line:nth-child(2){display: none;}

#upper,#downer{
    display: flex;
    align-items: center;
    gap: 0;
    width: max-content;
}
#upper div,#downer div{
    height: 15px;
    width: 50px;
}

#upper div:nth-child(even){
    background-color: black;
}
#upper div:nth-child(odd){
    background-color: transparent;
}

#downer div:nth-child(odd){
    background-color: black;
}
#downer div:nth-child(even){
    background-color: transparent;
}

.titlePost{
    width: min-content;
    text-align: center;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4rem 0;
}
.text{
    font-size: 1.7rem;
    }

    #calendario{
        position: absolute;
        z-index: 2;
    }

    .linkMaps{
        font-family: "gothic";
        font-size: 1.4em;
    }

    .postContent div{
        margin-top: 20px;
        font-family: "gothic";
        font-size: 1.7em;
    }

    .quando{
        font-size: 1.4rem;
        margin-bottom: 1rem;
        line-height: 4.5rem;
    }


    #star-five {
        display: flex;
    background: transparent;
    justify-content: center;
    top: 69px;
    right: 60%;
        z-index: 2;
        position: absolute;
        margin: 50px 0;
        color:  var(--green);
        width: 0px;
        height: 0px;
        border-right: 100px solid transparent;
        border-bottom: 70px solid  var(--green);
        border-left: 100px solid transparent;
        transform: scale(.5) rotate(-25deg);
      }
      #star-five:before {
        border-bottom: 80px solid  var(--green);
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        position: absolute;
        height: 0;
        width: 0;
        top: -45px;
        left: -65px;
        display: block;
        content: '';
        transform: rotate(-35deg);
      }
      #star-five:after {
        position: absolute;
        display: block;
        color:  var(--green);
        top: 3px;
        left: -105px;
        width: 0px;
        height: 0px;
        border-right: 100px solid transparent;
        border-bottom: 70px solid  var(--green);
        border-left: 100px solid transparent;
        transform: rotate(-70deg);
        content: '';
      }

      #cretina{
        color: black;
        position: relative;
        z-index: 999;
        font-size: 1.5rem;
        z-index: 3;
        margin-top: 10px;
      }

    #heart {
        top: 70px;
        right: 44%;
        z-index: 2;
        position: absolute;
        width: 100px;
        height: 90px;
        background-color: transparent;
        border: none;
        transform: rotate(15deg);
      }
      #heart:before,
      #heart:after {
        position: absolute;
        content: "";
        left: 50px;
        top: 0;
        width: 50px;
        height: 80px;
        background: var(--blue);
        border-radius: 50px 50px 0 0;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
      }
      #heart:after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
      }

      #heart a {
        color: black;
        position: relative;
        z-index: 999;
        bottom: 15px;
        left: 2px;
      }

      #infoPlus{
        display:none;
    }

@media (max-width: 450px) {

    #infoPlus{
        display: block;
    }

    #heart{
        top: 24px;
        right: 12px;
    }

    #star-five {
        display: none;
    }


    #changeMap{
        top: 9px;
        right: 11px
    }

    .buttons{
         position: fixed;
        z-index: 5;
        display: block;
        left: 12px;
        top: 80px;  
        width: 43px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .buttons button{
        width: fit-content;
    }

    .showSidebar{
       
       
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .closeSidebar{
        display: block;
    }
    .sidebar{
        width: 80%;
        margin-left: 10%;
        left: 0;
        height: 95%;
        margin-top: 4%;

        overflow-y: scroll;
        width: 100%;
        margin: 0;
        padding: 2rem;
        background: white;
        height: 100%;
    }

    .closeSidebar{
        position: fixed;
        bottom: 2%;
        width: 100%;
        text-align: center;
        height: max-content;
    }

    .closeSidebar button{
        padding: 3px;
        font-size: 1.1rem;
        background: rgb(236,108,0);
        border-radius: 5px;
        width: max-content;
    }

    .flex {
        display: flex ;
        justify-content: space-between;
        align-items: center;
        bottom: 0;
        gap: 7px;
        position: relative;
        margin-bottom: 5rem;
        }

    
    .text{
    font-size: 1.2rem;
    }

    .bottom span{
        font-size: .6rem;
        line-height: .5rem;
    }




    #categories{
        bottom: 1rem;
        left: 1rem;
        top: unset; 
    display: none;     }

    #categories li, #calendario input{
        line-height: 17px;
    }




  }

